body{
      background-image:url("login.jpeg");
      background-size:cover;
      background-position:center;
      
     }
.header{
         background-color:rgb(199, 61, 7);
         color:black;
         font-size: 50px;
         font-family: "lucida handwriting", cursive;
         font-weight: bold;
         padding: 5px;
         text-align: center;
         margin: 100px;
         margin-top: 50px;
         align-items: center;
     }
 .title
     {
          color:rgb(124, 37, 2);
          font-size: 50px;
          text-align: center;
          font-family: "lucida handwriting", cursive;
          font-weight: bold;
          
          align-items: center;
     }
.input{
          text-align: center;
          align-items: center;
          padding: 10px;
          color:black;
          font-size: 20px;
          font-family: "lucida handwriting", cursive;
          font-weight: bold;
      }
.page{
          text-align: left;
          align-items: left;
          padding: 10px;
          color:black;
          font-size: 30px;
          font-family: "lucida handwriting", cursive;
          font-weight: bold;
         
     }

button{
       padding: 10px 20px;
       font-size: 20px;
       border-radius: 15px;
}     
.input input[type="text"], .input input[type="password"] {
    padding: 10px;
    font-size: 20px;
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    width: 400px;
    margin:auto;
}
