body
{
font-family: Arial;
text-align: center;
background-image:url("page1.jpeg");
background-size: cover;
}


.nav
{
background-color: rgb(170, 55, 9);
text-align: right;
padding: 20px;

}

.nav a
{
color: white;
text-decoration: none;
padding: 20px;
font-weight: bold;
display: inline-block;

}
.logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    float:left;
    font-style: oblique;
}

img
{
border: 2px solid black;
}

img:hover
{
transform: scale(1.2);
}

p{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
}
p1{
    font-size: xx-large;
    font-weight: bold;
}

td
{
padding: 20px;
}

p2{
    font-style: oblique;
    font-size: larger;
    font-weight: 200;
}
